<div class="editor-image-block">
    
    {% if content.columnheading is defined %}
        <div class="article-content">
            {{ content.columnheading|raw }}
        </div>
    {% endif %}
</div>